@using System.Collections
@using Demo.Core.Bussines.Concrete
@using Demo.Core.Entities.Concrete
@using Demo.Core.MvcUI.Data
@using Remotion.Linq.Parsing.Structure.IntermediateModel
@model Demo.Core.MvcUI.Model.OrderInfo




@{
    List<string> employeenames = new List<string>();

    foreach (var item in Model.Employee)
    {
        employeenames.Add(item.FirstName+" "+item.LastName);
    }

}

<script>
 /* Visitors chart */
   

    


</script>

<main class="main users chart-page" id="skip-target">
      <div class="container">
        <h2 class="main-title">Dashboard</h2>
        <div class="row stat-cards">
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon primary">
                <i data-feather="bar-chart-2" aria-hidden="true"></i>
              </div>
                <div class="stat-cards-info">
                    @{decimal totalprice = 0; }
                    @foreach (var item in Model.OrderDetails)
                    {
                        totalprice += item.UnitPrice*item.Quantity;
                    }
                    <p class="stat-cards-info__num"> @Convert.ToInt32(totalprice)$ </p>
                    <p class="stat-cards-info__title">Total Sale</p>
                    <p class="stat-cards-info__progress">
                        <span class="stat-cards-info__profit success">
                            <i data-feather="trending-up" aria-hidden="true"></i>4.07%
                        </span>
                        Last month
                    </p>
                </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon warning">
                <i data-feather="file" aria-hidden="true"></i>
              </div>
              <div class="stat-cards-info">
                <p class="stat-cards-info__num">@Model.OrderDetails.Count</p>
                <p class="stat-cards-info__title">
                    Amounth of Order</p>
                <p class="stat-cards-info__progress">
                  <span class="stat-cards-info__profit success">
                    <i data-feather="trending-up" aria-hidden="true"></i>0.24%
                  </span>
                  Last month
                </p>
              </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon purple">
                <i data-feather="file" aria-hidden="true"></i>
              </div>
                <div class="stat-cards-info">
                    @{ int totalproduct = 0;}
                    @foreach (var item in Model.OrderDetails)
                    {
                        totalproduct += item.Quantity;

                    }
                    <p class="stat-cards-info__num">@totalproduct</p>
                    <p class="stat-cards-info__title">Amount of Products Sold</p>
                    <p class="stat-cards-info__progress">
                        <span class="stat-cards-info__profit danger">
                            <i data-feather="trending-down" aria-hidden="true"></i>1.64%
                        </span>
                        Last month
                    </p>
                </div>
            </article>
          </div>
          <div class="col-md-6 col-xl-3">
            <article class="stat-cards-item">
              <div class="stat-cards-icon success">
                <i data-feather="feather" aria-hidden="true"></i>
              </div>
                <div class="stat-cards-info">
                    @{ decimal totaldiscount = 0;}
                    @foreach (var item in Model.OrderDetails)
                    {
                        totaldiscount += (item.Quantity * item.UnitPrice)*(decimal) item.Discount ;
                    }
                    <p class="stat-cards-info__num">@Convert.ToInt32(totaldiscount) $</p>
                    <p class="stat-cards-info__title">Total Discount</p>
                    <p class="stat-cards-info__progress">
                        <span class="stat-cards-info__profit warning">
                            <i data-feather="trending-up" aria-hidden="true"></i>0.00%
                        </span>
                        Last month
                    </p>
                </div>
            </article>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-9">
            <div class="chart">
              <canvas id="myChart" aria-label="Site statistics" role="img"></canvas>
            </div>
            <div class="users-table table-wrapper">
              <table class="posts-table">
                <thead>
                  <tr class="users-table-info">
                    <th>
                      <label class="users-table__checkbox ms-20">
                        <input type="checkbox" class="check-all">Order ID
                      </label>
                    </th>
                    <th>Title</th>
                    <th>Employee</th>
                    
                    <th>Date</th>
                    <th>Action</th>
                  </tr>
                </thead>
                <tbody>
                @{ int count = 0;}
                @foreach (var item in Model.OrderDetails.OrderByDescending(p => p.Quantity))
                {

                    if (@count < 10)
                    {
                        <tr>
                            <td>
                                <label class="users-table__checkbox">
                                    <input type="checkbox" class="check">
                                    <div class="categories-table-img">
                                        <p>@item.OrderID</p>
                                    </div>
                                </label>
                            </td>
                            <td>
                                 @item.Quantity of the @item.ProductID (ID) product have been sold. @item.Discount % discount has been applied.

                            </td>
                            <td>
                                <div class="pages-table-img">
                                    
                                    <picture><source srcset="~/images/avatar/avatar-illustrated-01.webp" type="image/webp"><img src="./images/avatar/avatar-illustrated-01.png" alt="User Name"></picture>

                                </div>
                                @{
                                    var selectedEmployee = @Model.Employee.FirstOrDefault(p => p.EmployeeID == Model.Order.SingleOrDefault(e => e.OrderID == item.OrderID).EmployeeID);
                               }
                                <p>
                                        
                                    @selectedEmployee.FirstName @selectedEmployee.LastName
                                    </p>
                            </td>
                            
                            @{
                                var orderDate = @Model.Order.FirstOrDefault(p => p.OrderID == item.OrderID).OrderDate;
                            }
                            <td>@orderDate.Day/@orderDate.Month/@orderDate.Year</td>
                            <td>
                                <span class="p-relative">
                                    <button class="dropdown-btn transparent-btn" type="button" title="More info">
                                        <div class="sr-only">More info</div>
                                        <i data-feather="more-horizontal" aria-hidden="true"></i>
                                    </button>
                                    <ul class="users-item-dropdown dropdown">
                                        <li><a href="##">Edit</a></li>
                                        <li><a href="##">Quick edit</a></li>
                                        <li><a href="##">Trash</a></li>
                                    </ul>
                                </span>
                            </td>
                        </tr>

                        count++;
                    }

                }

                {
                    


                }
                




                </tbody>
              </table>
            </div>
          </div>
          <div class="col-lg-3">
            <article class="customers-wrapper">
              <canvas id="customersChart" aria-label="Customers statistics" role="img"></canvas>
              <!--              <p class="customers__title">New Customers <span>+958</span></p>
              <p class="customers__date">28 Daily Avg.</p>
              <picture><source srcset="./img/svg/customers.svg" type="image/webp"><img src="./img/svg/customers.svg" alt=""></picture> -->
            </article>
            <article class="white-block">
                <div class="top-cat-title">
               
                    <h3>Top categories</h3>
                    <p> Products</p>
                </div>
                <ul class="top-cat-list">
                    @{
                        DtoManager dtoManager = new DtoManager();
                        int count2 = 0;
                       
                            foreach (var item in dtoManager.ProductSaleReport().OrderByDescending(i=>i.ProductAmounth))
                            { 
                                if (count2<10)
                                 {
                                     <li>
                                         <a href="##">
                                             <div class="top-cat-list__title">
                                                 Product Name :  @item.ProductName   <span> @item.ProductAmounth Product Sold!  </span>
                                             </div>
                                             <div class="top-cat-list__subtitle">
                                                 Dailiy lifestyle articles <span class="purple">+472</span>
                                             </div>
                                         </a>
                                     </li>
                                 }
                                count2++;
                            }
                          
                        
                       

                    }
                   

                </ul>
            </article>
          </div>
        </div>
      </div>
    </main>